<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="https://drive.google.com/uc?export=view&id=1Vrmm3T4zU-52eQNqGX3uTDA8233LF_4K" type="image/icon type">
    <title>Since95</title>
    
    <link rel="stylesheet" href="https://drive.google.com/uc?export=view&id=1-8DBmVxIM44LexkzC1hdgFOP9lcCvK1f">
</head>
<body>

    <div class="hero">
        <nav>
            <img src="https://drive.google.com/uc?export=view&id=1igs0JrzsTmoCx359WprT9F19qqvlqa49" class="logo">
            <ul>
                <li><a href="http://127.0.0.1:8000/home/">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Articles</a></li>
                
                <li><a href="#">AI Section</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
            <!--<a href="#" class="btn">Buy Now</a> -->
        </nav>

        <div class="content">
            <span class="title">Freelance Web Developer</span>
            <h1>Hello, I’m <span>Ritartha</span></h1>
            <p>I’m working on a professional, visually sophisticated and technologically proficient, responsive and multi-functional Website designing using Django Framework.</p>
            <a href="https://drive.google.com/uc?export=view&id=17i8padf5lDuR0w0Om3ZzxWOK6xAotLTy"  class="btn">Download CV</a>
        </div>
    </div>

</body>
</html>