aggdraw==1.3.12
appdirs==1.4.4
argh==0.26.2
arrow==1.2.1
asgiref==3.5.1
astor==0.8.1
astunparse==1.6.3
atomicwrites==1.4.0
aylien-news-api==5.1.0
backports.weakref==1.0.post1
backports.zoneinfo==0.2.1
base58==2.1.0
bibtexparser==1.2.0
bkcharts==0.2
black==19.10b0
blinker==1.4
blis==0.7.4
boto==2.49.0
boto3==1.18.58
botocore==1.21.58
Bottleneck==1.3.2
branca==0.4.2
brotlipy==0.7.0
cachetools==4.2.4
catalogue==2.0.6
certifi==2020.12.5
ci-info==0.2.0
clyent==1.2.2
comtypes==1.1.9
configobj==5.0.6
configparser==5.0.2
contextlib2==0.6.0.post1
cycler==0.10.0
cymem==2.0.5
cytoolz==0.11.0
dj-database-url==0.5.0
Django==4.0.4
django-heroku==0.3.1
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.1.0/en_core_web_sm-3.1.0-py3-none-any.whl
entrypoints==0.3
et-xmlfile==1.0.1
etelemetry==0.2.2
fake-useragent==0.1.11
fastcache==1.1.0
fitz==0.0.1.dev2
flatbuffers==2.0
folium==0.12.1
free-proxy==1.0.4
funcy==1.16
future==0.18.2
gensim==4.1.2
gitdb==4.0.7
GitPython==3.1.24
google-auth==1.35.0
graphviz==0.20
gunicorn==20.1.0
h11==0.12.0
h5py==2.10.0
HeapDict==1.0.1
httplib2==0.20.1
isodate==0.6.0
jdcal==1.4.1
jmespath==0.10.0
json5==0.9.5
keras==2.8.0
libclang==13.0.0
llvmlite==0.36.0
locket==0.2.1
MarkupSafe==1.1.1
mccabe==0.6.1
menuinst==1.4.16
mistune==0.8.4
mkl-fft==1.3.0
mkl-service==2.3.0
mpmath==1.2.1
multipledispatch==0.6.0
murmurhash==1.0.5
mypy-extensions==0.4.3
mysql-connector-python==8.0.29
navigator-updater==0.2.1
nibabel==3.2.1
nipype==1.6.1
numpy==1.22.3
numpy-financial==1.0.0
olefile==0.46
opencv-python==4.5.3.56
ordered-set==4.0.2
outcome==1.1.0
parso==0.7.0
pathlib==1.0.1
pathspec==0.7.0
pathy==0.6.0
patsy==0.5.1
pdf2image==1.16.0
pep8==1.7.1
pkginfo==1.7.0
plotly==5.9.0
ply==3.11
preshed==3.0.5
protobuf==3.18.1
prov==2.0.0
psycopg2==2.9.3
pyarrow==5.0.0
pyasn1-modules==0.2.8
pyclustering==0.10.1.2
pycosat==0.6.3
pycurl==7.43.0.6
pydantic==1.8.2
pydeck==0.7.0
pydot==1.4.2
PyInputPlus==0.2.12
PyLaTeX==1.4.1
pyLDAvis==3.2.2
pymongo==4.1.1
PyMuPDF==1.18.19
PyMySQL==1.0.2
pyodbc===4.0.0-unsupported
pyreadline==2.1
PySimpleValidate==0.2.12
pytesseract==0.3.8
pytest==6.2.3
python-docx==0.8.11
python-dotenv==0.19.2
pytorch-pretrained-bert==0.6.2
pywin32==227
pywin32-ctypes==0.2.0
pywinpty==0.5.7
pyxnat==1.4
PyYAML==5.4.1
pyzmq==20.0.0
QDarkStyle==2.8.1
QtPy==1.9.0
ratelimit==2.2.1
rdflib==6.0.1
requests-oauthlib==1.3.0
s3transfer==0.5.0
scholarly==1.4.5
scikit-image==0.18.1
scikit-learn-extra==0.2.0
selenium==4.0.0
simplegeneric==0.8.1
simplejson==3.17.5
sip==4.19.13
smart-open==5.2.1
smmap==4.0.0
spacy==3.1.3
spacy-legacy==3.0.8
sphinx-rtd-theme==1.0.0
sqlparse==0.4.2
srsly==2.4.1
statsmodels==0.12.2
stdiomask==0.0.6
stem==1.8.0
stqdm==0.0.4
streamlit==1.0.0
tables==3.6.1
tenacity==8.0.1
termcolor==1.1.0
terminado==0.9.4
tesseract==0.1.3
textblob==0.15.3
tf-estimator-nightly==2.8.0.dev2021122109
thinc==8.0.10
torch==1.9.1
torchaudio==0.9.1
torchvision==0.10.1
traits==6.3.0
trio==0.19.0
trio-websocket==0.9.2
typer==0.4.0
tzdata==2021.2.post0
tzlocal==3.0
unicodecsv==0.14.1
validators==0.18.2
visualkeras==0.0.2
wasabi==0.8.2
webencodings==0.5.1
whitenoise==6.2.0
widgetsnbextension==3.5.1
win-unicode-console==0.5
wincertstore==0.2
windows-curses==2.3.0
wordcloud==1.8.1
wrapt==1.12.1
wsproto==1.0.0
xlwings==0.23.0
xlwt==1.3.0
xmltodict==0.12.0
zict==2.0.0
zope.event==4.5.0
